<div class="row">
  <div class="text-dark col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="pName">Product Name</label>
            <input
              type="text"
              id="pName"
              formControlName="pName"
              class="form-control"
            />
          </div>

          <p
            class="text-danger"
            *ngIf="
              fun['userName'].touched && fun['userName'].hasError('required')
            "
          >
            the user name is required field
          </p>

          <div class="form-group">
            <label for="pStatus">Product Status</label>
            <select id="pStatus" class="form-control" formControlName="pStatus">
              <option value="inprogress">inprogress</option>
              <option value="delivered">delivered</option>
              <option value="dispatch">dispatch</option>
            </select>
          </div>

          <p
            class="text-danger"
            *ngIf="
              fun['pStatus'].touched && fun['pStatus'].hasError('required')
            "
          >
            the product status is required field
          </p>

          <div class="form-group">
            <label for="canReturn">Can return</label>
            <select
              id="canReturn"
              class="form-control"
              formControlName="canReturn"
            >
              <option value="yes">yes</option>
              <option value="no">no</option>
            </select>
          </div>

          <p
            class="text-danger"
            *ngIf="
              fun['canReturns'].touched &&
              fun['canReturns'].hasError('required')
            "
          >
            the can Return is required field
          </p>

          <div class="form-group">
            <label for="pImg">Product Img URL</label>
            <input
              type="text"
              id="pImg"
              formControlName="pImg"
              class="form-control"
            />
          </div>

          <p
            class="text-danger"
            *ngIf="fun['pImg'].touched && fun['pImg'].hasError('required')"
          >
            the image URL is required field
          </p>

          <div class="d-flex justify-content-end">
            <button mat-raised-button color="primary">
              {{ isEditmode ? "Update Product" : "Add Product" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
