<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body text-dark">
        <mat-icon routerLink="/product">arrow_back</mat-icon>
        <img [src]="prodObj.pImg" alt="prodObj.pName" />
        <p>Name: {{ prodObj.pName }}</p>
        <p>status: {{ prodObj.pStatus }}</p>
        <p>Can return: {{ prodObj.canReturn }}</p>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button routerLink="editproduct" mat-raised-button color="primary">
          Edit
        </button>
        <button (click)="onRemove()" mat-raised-button color="accent">
          Remove
        </button>
      </div>
    </div>
  </div>
</div>
