<div class="row">
  <div class="col-md-4 offset-md-2">
    <div class="card">
      <div class="card-body text-dark text-center">
        <p>Go to user click button</p>
        <button routerLink="/user" mat-fab color="accent">Click</button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body text-dark text-center">
        <p>Go to product click button</p>
        <button routerLink="/product" mat-fab color="accent">Click</button>
      </div>
    </div>
  </div>
</div>
